@import "catppuccin-macchiato.css";

* {
	color: @text;
	font-family: Fira Code, FiraCode Nerd Font;
}

#clock {
	color: @teal;
	padding: 8px;
}

#memory {
	color: @rosewater;
	padding: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

#cpu {
	color: @sapphire;
	padding: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

window#waybar {
	background-color: @base;
	border: 2px solid @lavender;
	border-radius: 10px;
}
